---
import ScheduleEstimate from '../ScheduleEstimate'
import Button from '../Button.astro'
---

<div class="mb-[3rem] mt-[3rem]">
    <ScheduleEstimate />
    <Button text="Schedule Estimate" href="/"/>
</div>