---
import ContactInformation from "../ContactInformation"
import Button from "../Button.astro"
import AddressCity from "../Address&City"
---

<div>
    <ContactInformation />
    <AddressCity />
    <Button text="Next" href="/third-form"/>
</div>