---
import React from 'react'
import PaintExOrInt from '../PaintExOrInt'
import PropertyPaint from '../PropertyPaint'
import Button from '../Button.astro'
---

    <div>
        <PropertyPaint />
        <PaintExOrInt />
        <Button text="Next" href='/second-form'/>
    </div>
  


