---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import FirstForm from '../components/first-form-page/FirstForm.astro';
---

<Layout title="Information form">
	<Main>
		<FirstForm />
	</Main>
</Layout>

