---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import SecondForm from '../components/second-form-page/SecondForm.astro';
---

<Layout title="Information form">
    <Main>
        <SecondForm />
    </Main>
</Layout>