---
import SecondForm from './first-form-page/SecondForm.astro'

interface Props {
  text: string
  href: string
}

const { text, href } = Astro.props
---

<div class="flex justify-end items-center mt-[1rem] mr-[5rem]">
  <a href={href}>
    <button class="flex flex-row bg-black text-white px-6 py-2 rounded font-bold">
      {text}
    </button>
  </a>
</div>